.cover-container {
    z-index:11;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    overflow:hidden;
    
    position: fixed;
    top:0px;
    transition:all 1000ms linear;
}
.cover-container #bg{
    height:100%;
    position:fixed;
    left:0px;
}
.cover-container main{
	left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
#joker{
    z-index:12;
    width:180px;
    position:fixed;
    top:30px;
    left:40px;
    transition:all 1000ms linear;
}
#tent{
    z-index:12;
    width:200px;
    position:fixed;
    bottom:0px;
    left:260px;
    transition:all 1000ms linear;
}